<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="container">
  <div id='title'>
    <h3>Michael Eldred</h3>
    <p>Full-Stack Developer</p>
    <div class="social-media">
      <a href="https://github.com/W5rd1"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.linkedin.com/in/michaeleldred/"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
  <div class="lewagon">
    <h3>Le Wagon</h3>
    <p>Europes #1 Bootcamp</p>
  </div>
</div>
